coffee:
  redis:
    sample:
      host: bs-sample-redis
      port: 6379
      database: 0
      pool:
        default:
          maxidle: 32
          maxtotal: 128
mp:
  messaging:
    outgoing:
      #RedisPubSubSamplePostAction -> msg -> post-out (mp internal) -> connector -> sample-post (redis)
      post-out:
        connector: coffee-redis-pubsub
        connection-key: sample
        #pool-key: default
        pub-sub-channel: sample-post
      #RedisPubSubSamplePostAction -> msg -> no-sub (mp internal) -> connector -> no-sub (redis)
      no-sub:
        connector: coffee-redis-pubsub
        connection-key: sample
        #tobb producer is van erre a streamre
        merge: true
    incoming:
      # msg -> sample-post (redis) -> connector -> post-in (mp internal) -> PostInListener
      post-in:
        connector: coffee-redis-pubsub
        connection-key: sample
        #pool-key: default
        pub-sub-channel: sample-post
      #redis channel same as mp channel
      # msg -> sample-get (redis) -> connector -> sample-get (mp internal) -> GetListener
      sample-get:
        connector: coffee-redis-pubsub
        connection-key: sample
