version: '2'

# run from project directory
# docker compose -f <PROJECT_PATH>/backend-sampler/etc/docker-compose/docker-compose.local.etcd.yml up --build --force-recreate
services:
  etcd:
    container_name: bs-sample-etcd
    image: docker.io/bitnami/etcd:3
    ports:
      - 2379:2379
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
    volumes:
      - etcd_data:/bitnami/etcd
volumes:
  etcd_data:
    driver: local
networks:
  default:
    external:
      # hogyha hianyolja: docker network create bs-local-network
      name: bs-local-network
